#app {
  position: relative;
  z-index: 10;
}
#J_seckll {
  outline: none;
  position: relative;
  z-index: 10;
}
.seckill {
  height: 260px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}
.seckill__inner {
  background-color: #fff;
}
.jd_container {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.seckill__inner {
  height: 100%;
  overflow: hidden;
}
.seckill-countdown {
  position: relative;
  float: left;
  width: 190px;
  height: 100%;
  color: #fff;
  background-color: #e83632;
  background-image: url('/image/4a15d8883775742e3efbb850ae14def7.png');
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.seckill-countdown .countdown-desc {
  margin-top: 90px;
  font-size: 14px;
  text-align: center;
}
.seckill-countdown .countdown-desc strong {
  font-size: 18px;
  padding-left: 2px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
.seckill-countdown .countdown-main {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  display: block;
}
.seckill-countdown .countdown-main .timmer__unit {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #2f3430;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  line-height: 30px;
}
.seckill-countdown .countdown-main .timmer__unit:after {
  content: ":";
  display: block;
  position: absolute;
  right: -20px;
  font-weight: bolder;
  font-size: 18px;
  width: 20px;
  height: 100%;
  top: 0;
}
.seckill-countdown .countdown-main .timmer__unit--second {
  margin-right: 0 ;
}
.seckill-countdown .countdown-main .timmer__unit--second:after {
  display: none;
}
.timmer {
  font-weight: 700;
}
.countdown-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 31px;
}
.seckill-list {
  position: relative;
  float: left;
  width: 800px;
  height: 100%;
  overflow: hidden;
}
.seckill-list .slider_control {
  background-color: rgba(0, 0, 0, 0.15);
}
.seckill-list .slider_control:hover {
  background: rgba(0, 0, 0, 0.4);
}
.seckill-list .seckill-item {
  position: relative;
  width: 200px;
  height: 260px;
  display: inline-block;
}
.seckill-list .seckill-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 200px;
  background: linear-gradient(180deg, white, #eeeeee, white);
  transform: translateY(-50%);
}
.seckill-list .seckill-item .seckill-item__image {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.seckill-list .seckill-item__name {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.seckill-list .seckill-item__name {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.seckill-list .seckill-item__price {
  border: 1px solid #e1251b;
  position: relative;
  box-sizing: border-box;
  line-height: 24px;
  overflow: hidden;
  background-color: #e1251b;
}
.seckill-list .seckill-item__price {
  width: 160px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}
.seckill-list .seckill-item__price .price-miaosha {
  width: 92px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  float: left;
}
.seckill-list .seckill-item__price .price-miaosha:before {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: 0;
  left: 84px;
}
.seckill-list .seckill-item__price .price-miaosha i {
  font-size: 12px;
  font-weight: 400;
  padding-right: 2px;
  font-style: normal;
}
.seckill-list .price-origin {
  height: 100%;
  width: 66px;
  float: right;
  background: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
  text-decoration: line-through;
  vertical-align: top;
  color: #999;
  font-weight: bolder;
}
.seckill-list .price-origin i {
  font-style: normal;
}
.slider_item {
  height: 100%;
  min-height: 1px;
}
.lazyimg {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.lazyimg_loaded .lazyimg_img {
  opacity: 1;
}
.lazyimg_img {
  width: 100%;
  height: 100%;
}
.seckill-brand {
  position: relative;
  float: left;
  width: 200px;
  height: 260px;
  padding: 10px;
  box-sizing: border-box;
}
.seckill-brand .brand-item {
  position: relative;
  height: 240px;
}
.seckill-brand .brand-item .item-image {
  transition: opacity 0.2s ease;
}
.seckill-brand .brand-item .item-image {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.seckill-brand .brand-item .item-image .lazyimg_loaded {
  transition: background 0.2s linear, opacity 0.2s linear !important;
  background: transparent;
}
.seckill-brand .brand-item .item-image img {
  width: 100%;
  height: 100%;
}
.seckill-brand .brand-item .item-info {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(220, 224, 236, 0.5));
  text-align: center;
  font-size: 14px;
  position: relative;
}
.seckill-brand .brand-item .item-info {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  box-sizing: border-box;
}
.seckill-brand .brand-item .item-info-title {
  color: #333;
}
.seckill-brand .brand-item .item-info-promo {
  color: #333;
  font-weight: 700;
}
.seckill-brand .brand-item .item-info-action {
  color: #e1251b;
  border-radius: 14px;
  width: 82px;
  height: 24px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  font-weight: 700;
  padding-left: 4px;
  font-size: 12px;
  border: 1px solid #e1251b;
  margin-top: 4px;
}
.seckill-brand__slider {
  width: 100%;
  height: 100%;
}
.seckill-brand__slider .slider_indicators {
  bottom: 16px;
}
.slider_indicators {
  position: absolute;
  left: 50%;
  font-size: 0;
  text-align: center;
}
.slider_indicators_btn {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background: #999;
  transition: background 0.2s ease;
}
.slider_indicators_btn_active {
  background: #e1251b;
}
