.jd_special_item,
.special_offer .special_item_1,
.special_offer .special_item_2,
.special_offer .special_item_3,
.special_offer .special_item_4 {
  margin-left: 19px;
  margin-bottom: 48px;
  margin-top: 18px;
}
/*继承*/
.extendCannles,
.channelsB .channels_block_1 .channels_item_1,
.channelsB .channels_block_1 .channels_item_2,
.channelsB .channels_block_1 .channels_item_3,
.channelsB .channels_block_1 .channels_item_4,
.channelsB .channels_block_1 .channels_item_5,
.channelsB .channels_block_1 .channels_item_6,
.channelsB .channels_block_1 .channels_item_7,
.channelsB .channels_block_1 .channels_item_8 {
  left: 0;
  position: absolute;
}
.new_topExtends,
.new_top_list .top_item_rank_top,
.new_top_list .top_item_rank_num {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  display: block;
  z-index: 1;
}
.coupon_desc,
.coupon_limit {
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app {
  position: relative;
  z-index: 10;
}
#J_seckll {
  outline: none;
  position: relative;
  z-index: 10;
}
.seckill {
  height: 260px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}
.seckill__inner {
  background-color: #fff;
}
.jd_container {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.seckill__inner {
  height: 100%;
  overflow: hidden;
}
.seckill-countdown {
  position: relative;
  float: left;
  width: 190px;
  height: 100%;
  color: #fff;
  background-color: #e83632;
  background-image: url('/image/4a15d8883775742e3efbb850ae14def7.png');
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.seckill-countdown .countdown-desc {
  margin-top: 90px;
  font-size: 14px;
  text-align: center;
}
.seckill-countdown .countdown-desc strong {
  font-size: 18px;
  padding-left: 2px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
.seckill-countdown .countdown-main {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  display: block;
}
.seckill-countdown .countdown-main .timmer__unit {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #2f3430;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  line-height: 30px;
}
.seckill-countdown .countdown-main .timmer__unit:after {
  content: ":";
  display: block;
  position: absolute;
  right: -20px;
  font-weight: bolder;
  font-size: 18px;
  width: 20px;
  height: 100%;
  top: 0;
}
.seckill-countdown .countdown-main .timmer__unit--second {
  margin-right: 0 ;
}
.seckill-countdown .countdown-main .timmer__unit--second:after {
  display: none;
}
.timmer {
  font-weight: 700;
}
.countdown-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 31px;
}
.seckill-list {
  position: relative;
  float: left;
  width: 800px;
  height: 100%;
  overflow: hidden;
}
.seckill-list .slider_control {
  background-color: rgba(0, 0, 0, 0.15);
}
.seckill-list .slider_control:hover {
  background: rgba(0, 0, 0, 0.4);
}
.seckill-list .seckill-item {
  position: relative;
  width: 200px;
  height: 260px;
  display: inline-block;
}
.seckill-list .seckill-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 200px;
  background: linear-gradient(180deg, white, #eeeeee, white);
  transform: translateY(-50%);
}
.seckill-list .seckill-item .seckill-item__image {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.seckill-list .seckill-item__name {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.seckill-list .seckill-item__name {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.seckill-list .seckill-item__price {
  border: 1px solid #e1251b;
  position: relative;
  box-sizing: border-box;
  line-height: 24px;
  overflow: hidden;
  background-color: #e1251b;
}
.seckill-list .seckill-item__price {
  width: 160px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}
.seckill-list .seckill-item__price .price-miaosha {
  width: 92px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  float: left;
}
.seckill-list .seckill-item__price .price-miaosha:before {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: 0;
  left: 84px;
}
.seckill-list .seckill-item__price .price-miaosha i {
  font-size: 12px;
  font-weight: 400;
  padding-right: 2px;
  font-style: normal;
}
.seckill-list .price-origin {
  height: 100%;
  width: 66px;
  float: right;
  background: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
  text-decoration: line-through;
  vertical-align: top;
  color: #999;
  font-weight: bolder;
}
.seckill-list .price-origin i {
  font-style: normal;
}
.slider_item {
  height: 100%;
  min-height: 1px;
}
.lazyimg {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.lazyimg_loaded .lazyimg_img {
  opacity: 1;
}
.lazyimg_img {
  width: 100%;
  height: 100%;
}
.seckill-brand {
  position: relative;
  float: left;
  width: 200px;
  height: 260px;
  padding: 10px;
  box-sizing: border-box;
}
.seckill-brand .brand-item {
  position: relative;
  height: 240px;
}
.seckill-brand .brand-item .item-image {
  transition: opacity 0.2s ease;
}
.seckill-brand .brand-item .item-image {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.seckill-brand .brand-item .item-image .lazyimg_loaded {
  transition: background 0.2s linear, opacity 0.2s linear !important;
  background: transparent;
}
.seckill-brand .brand-item .item-image img {
  width: 100%;
  height: 100%;
}
.seckill-brand .brand-item .item-info {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(220, 224, 236, 0.5));
  text-align: center;
  font-size: 14px;
  position: relative;
}
.seckill-brand .brand-item .item-info {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  box-sizing: border-box;
}
.seckill-brand .brand-item .item-info-title {
  color: #333;
}
.seckill-brand .brand-item .item-info-promo {
  color: #333;
  font-weight: 700;
}
.seckill-brand .brand-item .item-info-action {
  color: #e1251b;
  border-radius: 14px;
  width: 82px;
  height: 24px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  font-weight: 700;
  padding-left: 4px;
  font-size: 12px;
  border: 1px solid #e1251b;
  margin-top: 4px;
}
.seckill-brand__slider {
  width: 100%;
  height: 100%;
}
.seckill-brand__slider .slider_indicators {
  bottom: 16px;
}
.slider_indicators {
  position: absolute;
  left: 50%;
  font-size: 0;
  text-align: center;
}
.slider_indicators_btn {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background: #999;
  transition: background 0.2s ease;
}
.slider_indicators_btn_active {
  background: #e1251b;
}
.floor {
  height: 340px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box {
  float: left;
  height: 340px;
  margin: 0 10px 0 0;
}
.special_offer {
  background: white;
}
.special_offer .special_inner {
  padding: 0 15px 15px;
}
.special_offer .special_tab {
  position: relative;
}
.special_offer .tab_head {
  position: absolute;
  bottom: 108%;
  right: 0;
}
.special_offer .tab_head .tab_head_item {
  position: relative;
  display: inline-block;
  margin: 0 13.5px;
}
.special_offer .tab_head .active .special_tab_lk {
  color: #e1251b;
}
.special_offer .tab_head .active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e1251b;
}
.special_offer .special_tab_lk {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-family: "Microsoft Yahei,PingFangSC-Medium,sans-serif,serif";
  color: #999;
  line-height: 19px;
  padding-bottom: 2px;
}
.special_offer .special_list {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.special_offer .special_list {
  width: 560px;
  height: 270px;
}
.special_offer .special_item {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 89px;
}
.special_offer .special_item_0 {
  background-color: rgba(100, 126, 146, 0.05);
  float: left;
  width: 170px;
  height: 265px;
  margin-right: 6px;
}
.special_offer .special_item_0 .special_item_img {
  margin-top: 46px;
  width: 120px;
  display: inline-block;
  left: 50%;
  margin-left: -60px;
  height: 120px;
  text-align: center;
}
.special_offer .special_item_0 .special_item_message {
  margin-left: 0;
  width: 100%;
  text-align: center;
}
.special_offer .special_item_0 .special_item_name {
  margin-top: 9px;
  margin-bottom: 4px;
  height: 19px;
  line-height: 19px;
  width: 150px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
.special_offer .special_item_0 .special_item_jdPrice {
  display: inline;
  margin: 0 2px;
}
.special_offer .special_item_0 .special_item_price {
  margin-top: 4px;
}
.special_offer .special_item_0 .special_item_miaoShaPrice {
  display: inline;
  margin: 0 2px;
}
.special_offer .special_item_0 .special_item_miaoShaPrice {
  font-size: 18px;
}
.special_offer .special_item_lk {
  position: relative;
  display: inline-block;
  width: 170px;
}
.special_offer .special_item_lowestFirst {
  display: inline-block;
  width: 90px;
  height: 24px;
  position: absolute;
  left: 0;
  background-image: url('/image/下載 (1).png');
  background-size: cover;
  background-position: 50%;
  font-family: 'MicrosoftYaHei-Bold,Microsoft Yahei,PingFangSC-Medium,sans-serif,serif';
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}
.special_offer .special_item_message {
  float: left;
  width: 75px;
  margin-left: 6px;
  font-size: 0;
}
.special_offer .special_item_name {
  display: inline-block;
  width: 100%;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: 'Microsoft Yahei,PingFangSC-Medium,sans-serif,serif';
  color: #333;
}
.special_offer .special_item_name:hover {
  color: #e1251b;
}
.special_offer .special_item_miaoShaPrice {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Arial-BoldMT,Microsoft Yahei,PingFangSC-Medium,sans-serif,serif';
  color: #e1251b;
  letter-spacing: 0;
  margin-top: 5px;
  font-weight: 700;
  display: inline-block;
}
.special_offer .special_item_jdPrice {
  display: inline-block;
  width: 100%;
  text-decoration: line-through;
  font-family: 'sans-serif,serif';
  color: #999;
  font-size: 12px;
  line-height: 14px;
  transform: scale(0.8);
  margin-top: 2px;
  transform-origin: top left;
}
.special_offer .special_item_img {
  float: left;
  width: 84px;
  height: 84px;
}
.special_offer .special_item_lowest {
  display: inline-block;
  overflow: hidden;
  width: 84px;
  height: 16px;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  color: #fff;
  text-align: center;
  line-height: 16px;
}
.grid_c2 {
  width: 590px;
}
.box_hd {
  height: 60px;
  padding: 0 20px;
  font-size: 0;
  line-height: 0;
}
.box_hd_lk {
  display: inline-block;
  position: relative;
  height: 32px;
  margin: 12px 0 0;
}
.box_tit {
  float: left;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 32px;
}
.box_hd_arrow:after {
  background-image: url('/image/sprite (1).png');
  background-position: 0 0;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.2s;
}
.box_hd_arrow1 {
  background-image: url('/image/sprite (1).png');
  background-position: -16px 0;
  width: 16px;
  height: 16px;
  position: relative;
  float: left;
  top: 9px;
  left: 10px;
}
.tab_body_item {
  width: 560px;
  height: 270px;
  display: none;
}
.tab_body_item:nth-child(1) {
  display: block;
}
.dollar_txt {
  font-size: 12px;
}
/*右边box样式*/
.box_last {
  margin-right: 0;
}
.lightning-buy {
  background: white;
  width: 590px;
}
.lightning-buy__container {
  padding: 0 20px 0 15px;
}
.lightning-buy__container .goods-core {
  width: 270px;
  height: 265px;
  margin-right: 15px;
  display: block;
  float: left;
  background: rgba(100, 126, 146, 0.05);
}
.lightning-buy__container .goods-core .core-logo {
  position: relative;
  width: 70px;
  height: 35px;
  display: block;
  margin: 15px auto 0;
  z-index: 1;
}
.lightning-buy__container .goods-core .core-name {
  position: relative;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  z-index: 1;
  margin-top: 6px;
}
.lightning-buy__container .goods-core .core-desc {
  position: relative;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin: 1px 0 13px 0;
  z-index: 1;
}
.lightning-buy__container .goods-core .core-desc__promo {
  padding-right: 5px;
  position: relative;
}
.lightning-buy__container .goods-core .core-desc__extra {
  padding-left: 5px;
  position: relative;
}
.lightning-buy__container .goods-core .core-desc__extra:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(102, 102, 102, 0.4);
}
.lightning-buy__container .goods-core .core-desc__extra .extra-text {
  margin-left: 4px;
}
.lightning-buy__container .goods-core .core-desc__extra .extra-day {
  display: inline-block;
}
.lightning-buy__container .goods-core .core-goods {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
  transition: opacity 0.2s ease;
  position: relative;
}
.lightning-buy__container .goods-core {
  position: relative;
}
.lightning-buy__container .goods-others {
  width: 270px;
  display: block;
  float: left;
  margin-top: -40px;
}
.lightning-buy__container .goods-others .other-item {
  display: block;
  width: 135px;
  float: left;
  height: 100px;
  padding: 14px 0;
  box-sizing: border-box;
}
.lightning-buy__container .goods-others .other-item:nth-child(odd):after {
  position: absolute;
  width: 1px;
  height: 60px;
  right: 0;
  top: 50%;
  margin-top: -30px;
  background: linear-gradient(180deg, white, #eeeeee, #eeeeee, white);
  content: "";
}
.lightning-buy__container .goods-others .other-item {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.lightning-buy__container .goods-others .other-item__logo {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}
.lightning-buy__container .goods-others .other-item__logo img {
  width: 100%;
  height: 100%;
}
.lightning-buy__container .goods-others .other-item__logo .logo-overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.95);
  text-align: center;
  transition: opacity 0.2s ease;
  font-weight: 700;
  color: #333;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  visibility: hidden;
}
.lightning-buy__container .goods-others .other-item__logo .logo-overlap span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  word-break: break-all;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  padding: 0 12px;
  transform: translate(-50%, -50%);
  width: 100%;
}
.lightning-buy__container .goods-others .other-item__name {
  color: #333;
  margin-top: 6px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*J_niceGoods的样式*/
#J_niceGoods {
  outline: none;
}
.nice-goods {
  height: 260px;
  position: relative;
  box-sizing: border-box;
  padding-left: 190px;
  margin-bottom: 20px;
}
.nice-goods .logo-container {
  width: 160px;
  height: 90px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/image/下載 (2).png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.nice-goods .logo-container .logo-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding: 55px 0px 10px 20px;
  display: block;
  position: relative;
}
.nice-goods .logo-container .logo-text i {
  background-image: url("/image/sprite (1).png");
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 6px;
  margin-top: -2px;
  vertical-align: middle;
  display: inline-block;
}
.nice-goods .logo-container .logo-text .logo-text_show {
  background-image: url("/image/sprite (1).png");
  background-position: 0 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 61px;
  left: 102px;
}
.nice-goods__logo {
  background-color: #eee;
  background-size: 100%;
}
.nice-goods__logo--bg-5 {
  background-image: url('/image/c78710f134c8845d365aa5028230db9f.png');
}
.nice-goods__logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 190px;
  height: 100%;
}
.nice-goods__recommends {
  margin-left: 10px;
  height: 100%;
  position: relative;
}
.nice-goods__recommends .goods-list {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 2100px;
  box-sizing: border-box;
  white-space: normal;
}
.nice-goods__recommends .goods-list .goods {
  width: 150px;
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}
.nice-goods__recommends .goods-list .goods--bottom {
  margin-top: 50px;
}
.nice-goods__recommends .goods-list .goods--bottom .goods__name {
  margin-bottom: 10px;
}
.nice-goods__recommends .goods-list .goods--top {
  margin-top: 20px;
}
.nice-goods__recommends .goods-list .goods--top .goods__name {
  margin-top: 10px;
}
.nice-goods__recommends .goods-list .goods__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  transition: color 0.2s ease;
  text-align: center;
  font-size: 14px;
}
.nice-goods__recommends .goods-list .goods__name:hover {
  color: #e1251b;
}
.nice-goods__recommends .goods-list .goods__image {
  height: 150px;
}
.nice-goods__recommends .goods-list .goods__image img {
  width: 100%;
  height: 100%;
}
.nice-goods__recommends .goods-list .goods__image {
  transition: opacity 0.2s ease;
}
.nice-goods__recommends .scroll-bar {
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: calc(100% - 30px);
  height: 3px;
  border-radius: 3px;
  background-color: #f3f3f3;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}
.nice-goods__recommends .scroll-bar .scroll-points {
  width: 33px;
  height: 9px;
  border-radius: 4px;
  background-color: #d8d8d8;
  position: absolute;
  top: 50%;
  margin-top: -4.5px;
}
.nice-goods__recommends {
  background-color: white;
  overflow: hidden;
}
/*J_core2的样式*/
.newArrival {
  width: 290px;
}
.newArrival {
  background: #fff;
  background-image: url("/image/下載 (4).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.newArrival_slider {
  position: relative;
  width: 260px;
  height: 250px;
  margin: 0 auto;
}
.newArrival_slider .slider_control_prev {
  left: -15px;
}
.newArrival_slider .slider_control {
  margin-top: -50px;
}
.newArrival_slider .slider_control_next {
  right: -15px;
}
.newArrival_slider .slider_list {
  position: relative;
  height: 250px;
}
.newArrival_slider .newArrival_item {
  transition: all 0.4s;
  transform: scale(0.8);
  transform-origin: center center;
}
.newArrival_slider .middleSlide {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.newArrival_item {
  position: relative;
  text-align: center;
}
.newArrival_item_lk {
  position: relative;
  display: block;
}
.newArrival_item_msg {
  transition: opacity 0.4s ease;
  opacity: 0;
}
.newArrival_item_msgActive {
  opacity: 1;
}
.newArrival_item_name {
  margin-top: 20px;
  margin-bottom: 4px;
}
.newArrival_item_name {
  position: relative;
  width: 200px;
  left: -35px;
  line-height: 19px;
  font-size: 14px;
  color: #333;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}
.newArrival_item_nameActive {
  opacity: 1;
}
.newArrival_item_desc {
  position: relative;
  width: 200px;
  height: 16px;
  left: -35px;
  line-height: 16px;
  letter-spacing: 0;
  font-size: 12px;
  font-family: Microsoft Yahei, PingFangSC-Medium, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif, serif;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}
.newArrival_item_descActive {
  opacity: 1;
}
.newArrival_item_price {
  margin-top: 20px;
  font-family: Arial-BoldMT, Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
  font-size: 18px;
  color: #e1251b;
  letter-spacing: 0;
}
.newArrival_item_new {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 48px;
  height: 20px;
  line-height: 20px;
  background-image: url('/image/下載 (5).png');
  background-size: cover;
  background-position: 50%;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: Arial-BoldMT, Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
}
#J_top .top_tab {
  position: relative;
}
#J_top .tab_head {
  position: absolute;
  height: 40px;
  right: 5px;
  line-height: 0;
  font-size: 0;
}
#J_top .tab_head_item1 {
  height: 26px;
}
#J_top .tab_head_item1 {
  display: inline-block;
  height: 26px;
  line-height: 40px;
  padding-top: 0px;
  font-size: 14px;
}
#J_top .top_tab_lk {
  display: inline-block;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
  font-size: 12px;
  background-color: #f6f6f6;
  height: 20px;
  line-height: 20px;
  margin: 0 4px;
  width: 62px;
  text-align: center;
  border-radius: 12px;
  font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
}
#J_top .active .top_tab_lk {
  background-color: #e1251b;
  color: #fff;
}
.new_top {
  position: relative;
}
.top_tab .tab_head {
  position: absolute;
  height: 20px;
  width: 280px;
  right: 5px;
  top: 0;
  line-height: 0;
  font-size: 0;
}
.new_top {
  width: 290px;
  background: #fff;
}
.new_top .tab_head {
  top: -10px;
}
.new_top .tab_body {
  position: absolute;
  top: 20px;
  margin-top: 10px;
}
.new_top .top_item {
  width: 260px;
  height: 70px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.tab_body_item1 {
  display: none;
}
.tab_body_item1:nth-child(1) {
  display: block;
}
.new_top_list {
  position: relative;
}
.new_top_list .top_item_lk {
  position: relative;
  display: block;
  height: 70px;
}
.new_top_list .top_item_img {
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 40px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.new_top_list .top_item_img:hover {
  opacity: 0.8;
}
.new_top_list .top_item_img > img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.new_top_list .top_item_rank_1 {
  background-image: url('/image/下載 (6).png');
  background-size: cover;
}
.new_top_list .top_item_rank_1 .top_item_rank_top {
  color: #e6ac36;
}
.new_top_list .top_item_rank_2 {
  background-image: url('/image/下載 (7).png');
  background-size: cover;
}
.new_top_list .top_item_rank_2 .top_item_rank_top {
  color: #b3aea4;
}
.new_top_list .top_item_rank_3 {
  background-image: url('/image/下載 (8).png');
  background-size: cover;
}
.new_top_list .top_item_rank_3 .top_item_rank_top {
  color: #d47b45;
}
.new_top_list .top_item_rank {
  position: absolute;
  width: 28.8px;
  height: 40.8px;
  font-weight: 700;
  color: #fff;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
.new_top_list .top_item_rank_top {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.new_top_list .top_item_rank_num {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
}
.new_top_list .top_item_name {
  position: absolute;
  left: 120px;
  top: 50%;
  width: 140px;
  max-height: 2.6em;
  line-height: 1.3em;
  font-size: 14px;
  word-break: break-all;
  transform: translateY(-50%);
  color: #333;
  overflow: hidden;
  transition: all 0.2s ease;
  font-family: Microsoft Yahei, PingFangSC-Medium, sans-serif, serif;
}
.new_top_list .top_item_name:hover {
  color: #e1251b;
}
.nice-shop {
  background-color: white;
}
.nice-shop {
  width: 290px;
}
.nice-shop .shop-item {
  position: relative;
  display: block;
}
.nice-shop .shop-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  height: 128px;
  padding: 15px 125px 15px 15px;
  margin-bottom: 10px;
}
.nice-shop .shop-item .item-title {
  max-height: 38px;
  line-height: 1.3em;
  font-size: 14px;
  color: #333;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.nice-shop .shop-item .item-tags {
  margin-top: 5px;
}
.nice-shop .shop-item .item-social {
  color: #999;
  font-size: 15px;
  position: absolute;
  bottom: 15px;
}
.nice-shop .shop-item--bg-4 {
  background-image: url("/image/下載 (5).png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.nice-shop .shop-item__cover {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 15px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}
.nice-shop .shop-item__cover > img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.nice-shop__container {
  padding: 0 15px;
}
.text-tag {
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  padding: 0 2px;
  height: 18px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-right: 5px;
  display: inline-block;
}
.text-tag:last-child {
  margin-right: 0;
}
.text-tag--theme {
  color: #596fab;
  border-color: #596fab;
}
.text-tag--origin {
  color: #e2231a;
  border-color: #e2231a;
}
.coupon {
  background: #fff;
}
.box_last {
  margin-right: 0;
}
.coupon {
  width: 290px;
}
.coupon .box_bd {
  background: url("/image/ab4b10750f3da259165a76e30074f504 (1).png") no-repeat bottom;
  overflow: hidden;
}
.coupon_inner {
  padding: 0px 15px;
}
.coupon_list {
  height: 280px;
}
.coupon_item {
  margin-bottom: 3px;
}
.coupon_item {
  position: relative;
  overflow: hidden;
}
.coupon_lk {
  height: 82px;
}
.coupon_lk {
  display: block;
  overflow: hidden;
}
.coupon_lk_wrap {
  height: 100%;
  margin-right: 40px;
}
.coupon_img {
  float: left;
  margin: 8px 0 0 7px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s ease;
  background: #fff !important;
  transition: opacity 0.2s ease;
}
.coupon_info {
  padding-top: 5px;
  margin-left: 80px;
}
.coupon_price {
  font-family: impact, sans-serif;
  display: block;
  height: 34px;
  line-height: 34px;
}
.coupon_price i {
  font-size: 14px;
  font-style: normal;
}
.coupon_price i {
  margin-right: 3px;
  font-family: arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.coupon_price span {
  font-size: 28px;
  margin-right: 3px;
}
.mod_price {
  font-size: 14px;
  color: #e33333;
}
.coupon_limit {
  color: #999 !important;
}
.coupon_desc,
.coupon_limit {
  color: #333;
}
.coupon_more {
  position: absolute;
  height: 100%;
  line-height: 82px;
  margin-right: 32px;
  font-size: 12px;
  color: #666;
  top: 0;
  right: 0;
}
.coupon_more_inner {
  display: inline-block;
  width: 1px;
  line-height: 15px;
  vertical-align: middle;
}
.coupon_more_arrow {
  position: absolute;
  right: -28px;
  top: 0;
  font-family: sans-serif;
}
/*channelsB中的样式*/
.channelsB {
  width: 100%;
  height: 1005px;
  margin-bottom: 20px;
  overflow: hidden;
}
.channelsB .channels_block {
  position: relative;
}
.channelsB .channels_block .channels_item {
  background: #fff;
}
.channelsB .channels_block .channels_item {
  display: inline-block;
  width: 290px;
  margin-right: 8px;
  margin-bottom: 10px;
  height: 180px;
}
.channelsB .channels_block .channels_item_link {
  position: relative;
  display: inline-block;
}
.channelsB .channels_block .channels_item_img {
  width: 100%;
  height: 100%;
  background: #d8d8d8;
}
.channelsB .channels_block .channels_item_img.lazyimg_loaded {
  background: #fff;
}
.channelsB .channels_block .channels_item_title {
  display: block;
  height: 30px;
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 17px;
  padding-bottom: 13px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.channelsB .channels_block .channels_item_title_main {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}
.channelsB .channels_block .channels_item_title_aside {
  font-size: 14px;
  color: #999;
  margin-left: 5px;
}
.channelsB .channels_block .channels_item_imgs {
  font-size: 0;
  line-height: 0;
  padding-left: 30px;
}
.channelsB .channels_block .channels_item_imgs .channels_item_link {
  margin-right: 30px;
}
.channelsB .channels_block .channels_item_imgs .channels_item_link .channels_item_img {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.channelsB .channels_block .channels_item_imgs .channels_item_link .channels_item_img img {
  display: block;
}
.channelsB .channels_block .channels_item_imgs .channels_item_link .channels_item_img > img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
}
.channelsB .channels_block_1 .channels_block_wrapper {
  width: 600px;
  padding-left: 600px;
}
.channelsB .channels_block_1 .channels_item_1 {
  height: 370px;
  top: 0px;
}
.channelsB .channels_block_1 .channels_item_1 .channels_item_link {
  height: 370px;
  width: 290px;
}
.channelsB .channels_block_1 .channels_item_2 {
  height: 370px;
  top: 0px;
  left: 300px;
}
.channelsB .channels_block_1 .channels_item_2 .channels_item_link {
  height: 370px;
  width: 290px;
}
.channelsB .channels_block_1 .channels_item_3 {
  top: 380px;
}
.channelsB .channels_block_1 .channels_item_4 {
  top: 570px;
}
.channelsB .channels_block_1 .channels_item_5 {
  top: 760px;
}
.channelsB .channels_block_1 .channels_item_6 {
  top: 380px;
  left: 300px;
}
.channelsB .channels_block_1 .channels_item_7 {
  top: 570px;
  left: 300px;
}
.channelsB .channels_block_1 .channels_item_8 {
  top: 760px;
  left: 300px;
}
.floorhd {
  height: 65px;
}
.grid_c1 {
  margin: 0 auto;
  width: 1190px;
}
.floorhd_tit {
  position: relative;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  padding: 0px 30px;
  margin: 0 auto 20px;
  overflow: hidden;
  color: #333;
}
.floorhd_tit:before {
  background-image: url("/image/sprite1.png");
  background-position: 0 0;
  width: 25px;
  height: 20px;
  left: 0;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.floorhd_tit:after {
  background-image: url("/image/sprite1.png");
  background-position: 0 0;
  width: 25px;
  height: 20px;
  right: 0;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.more2 {
  max-height: 305px;
}
.more2 .mod_price {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
  color: #e1251b;
}
.more2 .mod_price i {
  vertical-align: middle;
  font-size: 12px;
  font-weight: 700;
  font-family: MicrosoftYahei-regular, Arial, Helvetica, sans-serif;
  font-style: normal;
}
.feed-tab-wrapper {
  background: #fff;
}
.feed-tab-wrapper {
  margin-bottom: 10px;
}
.grid_c1 {
  width: 1190px;
  margin: 0px auto;
}
.feed-tab {
  margin: 0 auto;
  height: 60px;
  width: 1080px;
}
.feed-tab__item {
  position: relative;
  float: left;
  width: 180px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.feed-tab__item-title {
  color: #333;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  height: 27px;
}
.feed-tab__item--active .feed-tab__item-desc {
  color: #e1251b;
}
.feed-tab__item--active .feed-tab__item-title-text {
  background: #e1251b;
  color: #fff;
  width: 70px;
  height: 27px;
  display: inline-block;
  border-radius: 50px;
  padding: 0 5px;
}
.feed-tab__item-desc {
  color: #999;
  font-size: 14px;
}
.feed-tab__item-gap {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  margin: 10px 0;
  width: 1px;
  background: #dfdfdf;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(51%, #dfdfdf), to(white));
  background: linear-gradient(180deg, white, #dfdfdf 51%, white);
}
.more2_list {
  margin: 0px -5px;
}
.more2_item {
  position: relative;
  float: left;
  width: 230px;
  height: 322px;
  margin: 0 5px 10px;
}
.more2_item {
  background: #fff;
}
.more2_item_gdot {
  position: absolute;
  bottom: 0;
  right: 20px;
  display: inline-block;
  width: 1px;
  height: 1px;
  background-color: #b1b1b1;
}
.more2_lk {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.more2_img {
  display: block;
}
.more2_img > img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.lazyimg_loaded {
  transition: background 0.2s linear, opacity 0.2s linear !important;
  background: transparent;
}
.more2_img {
  width: 150px;
  height: 150px;
  margin: 30px auto 40px;
}
.more2_info {
  padding: 0 20px;
  height: 65px;
}
.more2_info {
  clear: both;
  line-height: 24px;
}
.more2_info_name {
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #666;
  transition: color 0.2s ease;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.more2_info_price {
  margin-top: 10px;
}
.more2_info_price_plus .mode_price {
  float: left;
  width: 75px;
  text-align: left;
}
.more2_info_price_plus .more2_price_plus {
  float: right;
  width: 114px;
  margin-right: 1px;
  text-align: right;
}
.more2_info_price_txt {
  font-size: 20px;
  font-weight: 700;
  font-family: arial, sans-serif;
}
.more2_info_price_txt-decimal {
  font-size: 12px;
}
.more2_discount {
  font-size: 12px;
  color: #e1251b;
  height: 14px;
  padding: 0 6px;
  border: 1px solid #e1251b;
  line-height: 14px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  vertical-align: 1px;
}
.more2_item_delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  display: none;
  opacity: 0;
  background: url('/image/下載 (9).png') no-repeat;
  background-size: 16px;
  background-position: 50%;
  cursor: pointer;
}
.more2_btn_find {
  background-color: #333;
  color: #fff !important;
}
.more2_btn_find:hover {
  background-color: #e1251b;
  border: 1px solid #e1251b !important;
}
.more2_item_hd {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 66px;
  text-align: center;
  display: none;
  opacity: 0;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(35%, white), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0, white 35%, white);
}
.more2_item_hd .more2_item_btn {
  height: 28px;
  width: 120px;
  display: inline-block;
  font-size: 12px;
  color: #353131;
  border: 1px solid #353131;
  border-radius: 15px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 18px;
}
.more2_item_hd .more2_item_btn:first-child {
  margin-left: 0px;
}
.more2_item_hd .more2_btn_icon {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}
.more2_btn_find .more2_btn_icon {
  margin-top: -4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-size: 16px 16px;
  margin-right: 4px;
  background-image: url("/image/下載 (10).png");
  font-style: normal;
}
