/*继承属性*/
.darpdown {
  position: relative;
  z-index: 21;
}
.dorpdown-layer {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
#shortcut.dorpdown-layer {
  top: 30px;
}
.areamini_inter_ico_thailand {
  background-repeat: no-repeat;
  background-image: url('../image/下載.png');
}
.logo_tit,
#logo {
  position: absolute;
}
.search_m,
.text {
  left: 0;
  padding: 2px 44px 2px 17px;
  width: 425px;
  height: 26px;
  border: 1px solid transparent;
  line-height: 26px;
  font-size: 12px;
}
.extendA,
.fore1 a,
.fore2 a {
  color: #e1251b !important;
  font-weight: 700;
}
#header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
#header .w {
  position: relative;
  z-index: 11;
  height: 140px;
}
#header .style-red {
  color: #e1251b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*左侧logo*/
#logo {
  z-index: 2;
  left: 0;
  top: 10px;
  width: 190px;
  height: 120px;
  background: #fff;
}
.logo_tit_lk {
  background-image: url('../image/sprite.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 190px;
  height: 120px;
  font-size: 0;
}
.logo_subtit {
  display: none;
}
.logo_extend {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*搜索*/
.search-m {
  position: relative;
  z-index: 1;
  height: 60px;
}
.search-m .search-logo {
  display: none;
}
.search-m .form {
  position: absolute;
  left: 260px;
  top: 25px;
  width: 546px;
  height: 32px;
  border: 2px solid #e2231a;
  background: #fff;
}
.search-m .search_bg {
  color: #989898;
}
.search-m .button {
  border-radius: 0;
  right: 0;
  width: 58px;
  height: 32px;
  line-height: 32px;
  border: none;
  background-color: #e1251a;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.text {
  color: #333;
  background: #f4f4f4;
  cursor: pointer;
  outline: none;
  z-index: 15;
}
.button {
  position: absolute;
  top: 0px;
  outline: none;
}
#settleup {
  position: absolute;
  right: 230px;
  top: 25px;
  z-index: 21;
}
#settleup .cw-icon1 {
  width: 130px;
  height: 34px;
  background-color: #fff;
  text-align: center;
  line-height: 34px;
  border-color: #eee;
}
.cw-icon1 {
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5;
}
.cw-icon1 a {
  color: #e1251b;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: 12px;
}
#hotwords {
  overflow: hidden;
  position: absolute;
  left: 260px;
  top: 65px;
  width: 550px;
  height: 20px;
  line-height: 20px;
}
#hotwords a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  color: #999;
  font-size: 12px;
}
#hotwords a:hover {
  color: #c81623;
}
#navitems {
  overflow: hidden;
  position: absolute;
  left: 203px;
  bottom: 0;
  height: 40px;
  padding-top: 20px;
}
#navitems li {
  margin-left: 1px;
  float: left;
}
#navitems a {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 15px;
  color: #333;
  margin: 0 11px;
}
#treasure {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 190px;
  height: 120px;
}
.promo_lk {
  position: relative;
  display: block;
  width: 190px;
  height: 120px;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: bottom;
}
